@page
@model MascotaFeliz.App.Frontend.Pages.EliminarVeterinariosModel
@{
}
<table class="table table-hover">
<thead>




<th class="text-center" colspan="2">Detalles Del Veterinario Eliminado</th>
</thead>
  <tbody>
    <tr>
       <th>Id del Veterinario</th>
        <td>@Model.veterinario.Id</td>
        </tr>
        <tr>   
        <th>Nombre</th>
        <td>@Model.veterinario.Nombres</td></tr>
        
        <tr>
          <th>Apellidos</th>
        <td>@Model.veterinario.Apellidos</td></tr>
        
        <tr>
          <th>Direccion</th>
        <td>@Model.veterinario.Direccion</td></tr>
        
        <tr>
          <th>Telefono</th>
          <td>@Model.veterinario.Telefono</td></tr>
        
        <tr>
          <th>Tarjeta Profesional</th>
          <td>@Model.veterinario.TarjetaProfesional</td></tr>
        
   
  </tbody>
</table>

<a asp-page="./ListaVeterinarios" class="btn-default">Listado De Todos Los Veterinarios</a>