@page
@model MascotaFeliz.App.Frontend.Pages.ListaVeterinariosModel
@{
}
  <div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Index">Inicio</a></li>
    <li class="breadcrumb-item" aria-current="page">Veterinario</li>
    <li class="breadcrumb-item active" aria-current="page">Consulta De Veterinarios</li>
  </ol>
</nav>
</div> 

<div id="listaveterinario" class="container mt-5">
<table id="tableVeterinario" class="table table-striped" style="width:100%" >
  <thead>
   <th>Cedula</th>
     <th>Nombres</th>
     <th>Apellidos</th>
     <th>Direccion</th>
     <th>Telefono</th>
     <th>Tarjeta Profesional</th>
     <th>Ver Detalles</th>
    <th>Editar</th>
     <th>Eliminar</th>
       
  </thead>
  <tbody>
    @foreach (var veterinario in Model.listaVeterinarios){

    <tr>
       <td>@veterinario.Cedula</td>
        <td>@veterinario.Nombres</td>
        <td>@veterinario.Apellidos</td>
           <td>@veterinario.Direccion</td>
              <td>@veterinario.Telefono</td>
                     <td>@veterinario.TarjetaProfesional</td>
                 <td>
                        <a class="btn btn-primary table-btn" asp-page="/Veterinarios/DetallesVeterinarios" asp-route-veterinarioId="@veterinario.Id">Detalle</a>
                 </td>
                 <td>
                              <a class="btn btn-primary table-btn" asp-page="/Veterinarios/EditarVeterinarios" asp-route-veterinarioId="@veterinario.Id">Editar</a>
                 </td>
                   <td>
                       <a class="btn btn-primary table-btn" asp-page="/Veterinarios/EliminarVeterinarios" asp-route-veterinarioId="@veterinario.Id">Eliminar</a>
                 </td>
    </tr>
     }
  </tbody>
</table>
</div>




