@page
@model MascotaFeliz.App.Frontend.Pages.DetallesDuenosModel
@{
}
<table class="table table-hover">
  <thead>

    <th class="text-center" colspan="2">Detalles Del Propietario</th>


  </thead>
  <tbody>
    <tr>
      <th>Id del Propietario</th>
      <td>@Model.dueno.Id</td>
    </tr>
    <tr>
      <th>Nombre</th>
      <td>@Model.dueno.Nombres</td>
    </tr>
    <tr>
      <th>Apellidos</th>
      <td>@Model.dueno.Apellidos</td>
    </tr>
    <tr>
      <th>Direccion</th>
      <td>@Model.dueno.Direccion</td>
    </tr>
    <tr>
      <th>Telefono</th>
      <td>@Model.dueno.Telefono</td>
    </tr>
    <tr>

      <th>Correo</th>
      <td>@Model.dueno.Correo</td>
    </tr>
  </tbody>
</table>

<a asp-page="./ListaDuenos" class="btn-default">Listado De Todos Los Propietarios</a>