@page
@model MascotaFeliz.App.Frontend.Pages.RegistrarVisitasModel
@{
  int visitaId = Model.visita.Id;
}
<div>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/Index">Inicio</a></li>
    <li class="breadcrumb-item" aria-current="page">Visita</li>
    <li class="breadcrumb-item active" aria-current="page">Registrar Visita</li>
  </ol>
</nav>
</div> 

<h2 style="text-align: center;">Registrar Visita</h2>
<script type='text/javascript'>
  function validacion() {

    var valoresCorrectos = true;
    var mensaje = "";


    if (document.getElementById('validationTooltip07').value.length < 1 || document.getElementById('validationTooltip07').value<=0) {
      valoresCorrectos = false;
      mensjase = mensaje + " Recomendaciones";
    }

    if (document.getElementById('historia').value == 0) {
      valoresCorrectos = false;
      mensjase = mensaje + " Historia";
    }
  
    if (document.getElementById('veterinario').value==0) {
      valoresCorrectos = false;
      mensjase = mensaje + " Veterinario";
    }

    if (document.getElementById('validationTooltip06').value.length < 1 || document.getElementById('validationTooltip06').value<=0) {
      valoresCorrectos = false;
      mensjase = mensaje + " Estado Animo";
    }
      
    if (document.getElementById('validationTooltip05').value.length < 1 || document.getElementById('validationTooltip05').value<=0) {
      valoresCorrectos = false;
      mensjase = mensaje + " Frecuencia Cardiaca";
    }
    
    if (document.getElementById('validationTooltip04').value.length < 1 || document.getElementById('validationTooltip04').value<=0) {
      valoresCorrectos = false;
      mensjase = mensaje + " Frecuencia Respiratoria";
    }

    if (document.getElementById('validationTooltip03').value.length < 1 || document.getElementById('validationTooltip03').value<=0) {
      valoresCorrectos = false;
      mensjase = mensaje + " Peso";
    }

    if (document.getElementById('validationTooltip02').value.length < 1 || document.getElementById('validationTooltip02').value<=0) {
      valoresCorrectos = false;
      mensjase = mensaje + " Temperatura";
    }

 if (document.getElementById('validationTooltip01').value == 0) {
      valoresCorrectos = false;
      mensjase = mensaje + " Fecha Visita";
    }else{
var fechaIngresada = new Date(document.getElementById('validationTooltip01').value);
var dayIngresada = fechaIngresada.getDate();
var monthIngresada = fechaIngresada.getMonth() + 1;
var yearIngresada = fechaIngresada.getFullYear();


var today = new Date();
var day = today.getDate();
var month = today.getMonth() + 1;
var year = today.getFullYear();

if(dayIngresada<day){
  valoresCorrectos = false;
      mensjase = mensaje + " Fecha Visitas el día seleccionado es inferior al día actual";
}
if (monthIngresada<month){
valoresCorrectos = false;
         mensjase = mensaje + " Fecha Visitas el mes seleccionado es inferior al mes actual";
}
if (yearIngresada<year){
valoresCorrectos = false;
         mensjase = mensaje + " Fecha Visitas el año seleccionado es inferior al año actual";
}
    }

    if (valoresCorrectos == false) {
      alert('Algunos campos no estan correctos, vuelva a ingresarlos, algunos campos son: ' + mensjase);
    }
    return valoresCorrectos;
  }
</script>


<div id="forms">
    <form class="row g-3 needs-validation" method="post" onsubmit='return validacion()'>
          <div class="col-md-4 position-relative">
            <label for="validationTooltip01" class="form-label" asp-for="visita.FechaVisita"></label>
            <input type="datetime-local" class="form-control" id="validationTooltip01" asp-for="visita.FechaVisita" value="">
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip02" class="form-label" asp-for="visita.Temperatura"></label>
            <input type="number" step=0.1 class="form-control" id="validationTooltip02" asp-for="visita.Temperatura" value="">
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip03" class="form-label" asp-for="visita.Peso"></label>
            <input type="number" step=0.1 class="form-control" id="validationTooltip03" asp-for="visita.Peso" value="">
        </div>
        <div class="col-md-4 position-relative">
            <label for="validationTooltip04" class="form-label" asp-for="visita.FrecuenciaRespiratoria"></label>
            <input type="number" step=0.1 class="form-control" id="validationTooltip04" asp-for="visita.FrecuenciaRespiratoria" value="">
        </div>
<div class="col-md-4 position-relative">
            <label for="validationTooltip05" class="form-label" asp-for="visita.FrecuenciaCardiaca"></label>
            <input type="number" step=0.1 class="form-control" id="validationTooltip05" asp-for="visita.FrecuenciaCardiaca" value="">
        </div>
<div class="col-md-4 position-relative">
            <label for="validationTooltip06" class="form-label" asp-for="visita.EstadoAnimo"></label>
            <input type="text" class="form-control" id="validationTooltip06" asp-for="visita.EstadoAnimo" value="">
        </div>

        <div class="col-md-5 position-relative">
             <label for="veterinario">Veterinario</label>
          <select id="veterinario" asp-for="visita.IdVeterinario" name="veterinarioId">
            <option value="0">Seleccione un Propietario</option>
             @foreach (var veterinario in Model.listaVeterinarios)
             {
                <option value="@veterinario.Id">@veterinario.Nombres @veterinario.Apellidos -Tarjeta Profesional: @veterinario.TarjetaProfesional </option>
             }
          </select>
        </div>

        <div class="col-md-3 position-relative">
          <label for="historia">Historia</label>
          <select id="historia" asp-for="historia.Id" name="historiaId">
            <option value="0">Seleccione una Historia</option>
             @foreach (var historia in Model.listaHistorias)
             {
                <option value="@historia.Id">Id Historia: @historia.Id</option>
             }
          </select>
        </div>
    
       <div class="col-md-12 position-relative">
            <label for="validationTooltip07" class="form-label" asp-for="visita.Recomendaciones"></label>
            <textarea type="textarea" class="form-control" id="validationTooltip07" asp-for="visita.Recomendaciones"></textarea>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" type="submit">Registrar Visita</button>
        </div>
    </form>
</div>
